

.img-responsive{
    border-radius: 5px;
    border: 5px solid whitesmoke;
}
#orderNowbtn{
    background:dodgerblue;
    margin-bottom: 30px;
}
#learnMoreBtn{
    background:dodgerblue;
    margin-bottom: 30px;
}


.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

.verticalDevider{
    border-right:2px solid lightblue;
    padding-right: 15px;
}


#mainSlide{
    height: 100%;
    width: 100%;
    background-color:rgba(0,0,0,0.2) ;
    background-image: url("../img/back41.png");
    background-color: white;
    background-repeat: no-repeat;
    background-size:100% 100%;
}



.logo1{
    border: none;
}

.myNavbar1{
    background-color:rgba(255,255,255,0.7); padding-top:0px !important; padding-bottom: 0px;
}

#features{
    background: white;
}
.aboutText{
    margin-top: 100px;
}

#order{
    padding-bottom: 50px;
}

#orderNavBtn>a{
    border-radius:6px;
    color: lightseagreen !important;
    background: whitesmoke;
}

.mainText{
  padding-top: 10%;
  padding-left:5% ;
  text-align: left;
}

.mainText>h1{
    color: black;
    text-align: left;
    font-weight: 700;
    font-size: 4vw;
}

.mainText>h2{
    color: black;
    text-align: left;
    font-weight: 700;
    font-size: 3vw;
}

.mainText>h3{
    color: gray;
    text-align: left;
    font-weight: 600;
}



.mainButtons{
    display: flex;
    justify-content: center;
}

@media (max-width: 760px) {

    #mainSlide{
        height: 100%;
        width: 100%;
        background-color:rgba(0,0,0,0.2) ;
        background-image: url("../img/back41.png");
        background-color: white;
        background-repeat: no-repeat;
        background-size:100% 110%;
    }

    .mainText{
        padding: 35px;
        text-align: center;
    }

    .mainText>h1{
        color: black;
        text-align: center;
        font-weight: 700;
        white-space: nowrap;
        font-size: 10vh;
    }

    .mainText>h2{
        color: black;
        text-align: center;
        font-weight: 700;
        font-size: 6vh;
    }

    .mainText>h3{
        color: gray;
        text-align: center;
        font-weight: 600;
    }


    .img-responsive{
        height: 70px;
        width: 100%;
    }

    #firstForm{
        padding:15px!important;
    }

    #mainPhoto{
        margin-bottom: 0 !important;
        padding-top: 0 !important;
    }
    #orderNowbtn{
        width:50%;
        font-size:5vw;
        display: block;
        float: left;
        padding-left: 5%;
        font-weight: bold;
        background:dodgerblue;
    }
    #learnMoreBtn{
        text-align:center;
        width:50%;
        font-size:5vw;
        display: block;
        padding-left: 8%;
        font-weight: bold;
        float: right;
        background:dodgerblue;
    }

    #logo2{
        width: 50%;
        height: 150%;
    }

    .navBtns>li>a{
        color: white;
    }

    #orderNavBtn>a{
        color: lightseagreen !important;
    }
    .myNavbar2{
        background-color:rgba(0,0,0,0.7);
    }

}

#orderForm{
    background-color:rgba(255,255,255,0.9);
    border-radius: 40px;
    border: 5px solid black;
    padding: 15px 10px 5px 10px;
}

#firstOrderForm{
    border: 2px solid darkgrey;
    border-radius: 10px;
    padding: 15px;
    margin: 12px;
}

#firstOrderForm div>input{
    border-color: darkgrey;
}
#firstOrderForm div>textarea{
    border-color: darkgrey;
}


#mainPhoto{
    padding-top: 60px;
    height: 70%; width: 100%;
}

.slideImages{
    width: 90%;
    height: 90%;
}

.slideImagesRes{
    width: 90%;
    height: 100%;
}

#reviews{
    padding-top: 25px;
}

/* for sevices */

#service{background-color: whitesmoke;padding-top: 100px;padding-bottom: 100px;}
.row-1 .ser-col-4{border-right:solid 1px #ccc;border-bottom: solid 1px #ccc;}
.row-1 .ser-col-4-l{border-bottom: solid 1px #ccc;}
.row-2 .ser-col-4{border-right:solid 1px #ccc;border-bottom: solid 1px #ccc;}
.row-2 .ser-col-4-l{border-bottom: solid 1px #ccc;}
.row-3 .ser-col-4{border-right:solid 1px #ccc;}


@media (max-width:885px){
    .ser-col-4-l{border-right:solid 1px #ccc;border-bottom: solid 1px #ccc;border-left:solid 1px #ccc;}
    .ser-col-4{border-left:solid 1px #ccc;border-bottom: solid 1px #ccc;}
}

.ser-col{width:100%;height:auto;text-align: center;padding:20px;position: relative;}
.icon-col{width:80px;height:80px;border-radius: 50%;text-align: center;margin-left: auto;margin-right: auto;}
.icon-col i{font-size: 80px; color:lightseagreen;}
.circle {
    position: absolute;
    bottom: -11px;
    right: -24px;
    z-index: 99;
}
.circle i{color:#ccc;font-size: 18px;background-color:ghostwhite;}
.ser-col h2{color:#777;
    margin-bottom: 20px;}

.ser-col p{color:#3e3b3b;
    margin-bottom: 20px;}

.ser-col>h2{
    padding-top:20px;
}

/* control of divs order on small sizes */

@media screen and (max-width: 480px) {
    .wrap  { display: flex; flex-direction: column; }
    .video { order: 1; }
    .order { order: 2; }
    .image { order: 3; }
}


/* counter */
#clockdiv{
    font-family: sans-serif;
    color: red;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 22px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div > span{
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    display: inline-block;
    background: white;
}

.smalltext{
    color: black;
    padding-top: 5px;
    font-size: 12px;
}

/* for video frame */



.orderText{
    font-size: 2.5em;
    color: red;
    padding-bottom: 6px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 20px;
    background: rgba(255,255,255,.4);
}

#secondText{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding-top: 15%;
}

#myVideo{
    border-top: 10px solid black;
    border-radius: 10px;
    border-bottom:2px solid black;
}

/*clock*/

#clock{
    padding-left: 7vh;
    font-size:larger;
    font-weight: 600;
}
#textPhone{
    display: none;
}
@media (max-width:700px) { /*700 or smaller*/
    #clock{
        font-size:1em;
        padding-left: 0 !important;
        padding-right: 1vh !important;
    }
    body {
        font-family: 'Lato', sans-serif;
        margin-top: 0px;
    }

    #textPhone{
        display: inline-block;
    }
    .flip-clock-wrapper{
        text-align: center;
    }
    .flip-clock-label{
        padding-right: 30px !important;
    }

    .flip.play{
        display: inline-block;
        width:5% !important;
    }
    .flip{
        display: none;
    }
    .inn{
        color: white !important;
        font-size: .7em !important;
    }
}

@media (min-width:425px) { /* 425 or bigger */
    .flip{
        display: inline-block;
        width:10% !important;
    }
}
